<div class="main conment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="tittle">New Registration</h3>
                        <h4 class="tittle">General Data</h4>
                    </div>
        <div class="row">           
          <div class="form-group col-md-6">
              <label>Fragility</label>
               <div class="form-group form-check">
              <input type="radio" class="form-check-input" name="option 1">
              <label class="form-check-label">High</label>
            </div>
            <div class="form-group form-check">
                <input type="radio" class="form-check-input" name="option 1">
                <label class="form-check-label">Medium</label>
              </div>
              <div class="form-group form-check">
                <input type="radio" class="form-check-input" name="option 1">
                <label class="form-check-label">low</label>
              </div>
              <input type="text" class="form-control" id="peso" placeholder="weight in Kg">
              <input type="text" class="form-control" id="contenido" placeholder="Description of the content">

           </div>
           <div class="form-group col-md-4">
            <label>Receiver</label>
            <input type="text" class="form-control" id="nombre" placeholder="Name">
            <input type="text" class="form-control" id="correo" placeholder="Electronic mail">
             <input type="text" class="form-control" id="numero" placeholder="Number">
            <input type="text" class="form-control" id="postal" placeholder="Zip">



           </div>
        </div> 
           <div class="form-row">
            <label>Ubicacion</label>
            <input type="text" class="form-control" id="actual" placeholder="Current location">
            <input type="text" class="form-control" id="proxima" placeholder="Next location">
            </div>
            <div class="form-row">
                <label>Transporte</label>
            </div>

            <div class="form-row">
                <label>Horario</label>
                <div class="form-group col-md-3">
                    <select class="form-control" id="Horario">
                        <option>empty</option>
                        <option>8:00 am - 12:00pm</option>
                        <option>12:30 pm - 4:30 pm</option>
                        <option>5:00 pm - 9:00 pm</option>
                        <option>9:30 pm - 1:30 am </option>
                    </select>
                    <select class="form-control" id="Transporte">
                        <option>empty</option>
                        <option>vihiculo 1</option>
                        <option>vehiculo 2</option>
                        <option>vehiculo 3</option>

                    </select>

                </div>
            </div>
         

                </div>

            </div>

        </div>
    </div>
</div>